* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HEADER PART && DARK-LIGHT MODE ########################## */
header {
  width: 100vw;
  height: 50px;
  background-color: brown;
  color: white;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#toggle-container {
  width: 80px;
  height: 40px;
  border: 1px solid grey;
  background-color: rgb(232, 228, 228);
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.light-mode {
  width: 35px;
  height: 35px;
  border: 1px solid grey;
  background-image: linear-gradient(
    to left,
    gray,
    rgb(108, 202, 237),
    silver,
    rgb(108, 202, 237)
  );
  transform: rotate(240deg);
  border-radius: 100%;
  position: absolute;
  top: 1.49px;
  left: 2px;
  text-align: center;
  line-height: 35px;
  font-size: 1.4rem;
  color: rgb(250, 237, 0);
  text-shadow: 1px 1px 5px orange, -1px -1px 5px orange;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(196, 195, 195);
  background-image: linear-gradient(
    to right,
    black,
    purple,
    rgba(255, 0, 255, 0.812),
    rgb(145, 61, 75)
  );
  border-radius: 100%;
  position: absolute;
  top: 1.49px;
  transform: translateX(39px) rotate(240deg);
  text-align: center;
  line-height: 35px;
  font-size: 1.6rem;
  color: rgb(221, 219, 171);
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 2px 9px yellow, -2px -1.19px 2px black;
}

.dark {
  background-color: #121212;
}

/* REAL TIME CONTAINER PART ################################ */
.time-container {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 900;
  font-style: bold;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: rgb(223, 216, 216);
  transition: all 0.5s ease-in-out;
}

/* MAIN CONTENT PART HERE ################################# */
body {
  width: 100vw;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.secondry-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  font-size: 2rem;
  padding: 20px;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px grey;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#res {
  color: magenta;
  font-size: 1.5rem;
  font-style: bold;
  letter-spacing: 1px;
}

#inputContainer-one {
  margin-top: 30px;
}

.inputs-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px 0;
}

.inputs-container label {
  width: 30%;
  color: black;
  font-size: 1.6rem;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.inputs-container label:hover {
    text-decoration: underline;
}

input {
  width: 80%;
  margin: 0 0 20px 0;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}

input:focus {
  outline: 1px solid black;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 100;
}

#email-field {
  text-transform: none;
}

.submit-container {
  width: 100%;
  text-align: center;
  margin: 15px 0 10px 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#sheet-btn {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#submit-btn {
  width: 12rem;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 9px;
  background-color: orange;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  box-shadow: 0 0 2px 1px grey;
}

#submit-btn:hover {
  background-color: rgba(255, 166, 0, 0.804);
}

#submit-btn:active {
  font-size: 1.4rem;
  box-shadow: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
  background-color: white;
  /* background-color: #121212; */
  border-top: 0.5px solid grey;
  transition: all 0.5s ease-in-out;
}

.foot-container {
  text-align: center;
  font-size: 1rem;
}

.developer-info {
  letter-spacing: 5px;
  margin-bottom: 2px;
}

.rights-disclaimer {
  letter-spacing: 1px;
}


@media (max-width: 850px) {
  .secondry-container {
    font-size: 1rem;
    padding: 30px;
    width: 35rem;
  }
  #search-btn {
    width: 8rem;
    font-size: 1.3rem;
  }
  .main-container {
    margin-top: 120px;
  }
}
@media (max-width: 850px) {
  .secondry-container {
    font-size: 1rem;
    padding: 30px;
    width: 35rem;
  }
  #input-value {
    width: 400px;
    font-size: 1.2rem;
  }
  #search-btn {
    width: 8rem;
    font-size: 1.3rem;
  }
  .main-container {
    margin-top: 120px;
  }
}
@media (max-width: 650px) {
  .secondry-container {
    font-size: 1rem;
    padding: 40px;
    width: 35rem;
    margin-top: 60px;
  }
  #input-value {
    width: 350px;
    font-size: 1rem;
  }
  #search-btn {
    width: 6.5rem;
    font-size: 1.1rem;
  }
  .main-container {
    margin-top: 60px;
  }
}
@media (max-width: 570px) {
  .secondry-container {
    font-size: 0.5rem;
    padding: 0 30px;
    width: 30rem;
    margin-bottom: px;
  }
  #input-value {
    width: 320px;
    font-size: 1rem;
  }
  #search-btn {
    width: 6rem;
    font-size: 1.1rem;
  }
  .main-container {
    margin-top: 60px;
  }
}
@media (max-width: 490px) {
  .secondry-container {
    font-size: 0.5rem;
    padding: 30px;
    width: 25rem;
  }
  #input-value {
    width: 250px;
    font-size: 1rem;
  }
  #search-btn {
    width: 6rem;
    font-size: 1.1rem;
  }
  .main-container {
    margin-top: 60px;
  }
  #logo {
    font-size: 1.5rem;
  }
  input {
    width: 80%;
    margin: 0 0 20px 0;
    height: 35px;
    line-height: 40px;
    outline: none;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}
@media (max-width: 420px) {
  .secondry-container {
    font-size: 0.5rem;
    padding: 30px;
    width: 23rem;
  }
  #input-value {
    width: 200px;
    font-size: 0.89rem;
  }
  #search-btn {
    width: 5rem;
    font-size: 0.9rem;
  }
  .main-container {
    margin-top: 60px;
  }
  .inputs-container label {
    font-size: 1.3rem;
  }
  input {
    font-size: 1rem;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
  #submit-btn {
    width: 10rem;
    margin-left: 5px;
  }
}
@media (max-width: 380px) {
  .secondry-container {
    margin: 0 10px;
  }
  .inputs-container label {
    font-size: 1.1rem;
  }
  input {
    font-size: 0.8rem;
  }
  input::placeholder {
    font-size: 0.7rem;
  }
  #logo {
    font-size: 1.3rem;
  }
  #current-time {
    font-size: 1.5rem;
  }
  #submit-btn {
    width: 7rem;
    margin-left: 5px;
    font-size: 1.4rem;
    height: 34px;
  }
  #sheet-btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 320px) {
  #current-time {
    font-size: 1.2rem;
  }
  #sheet-btn {
    font-size: 1rem;
    padding: 5px 6px;
  }
}

@media (max-width: 295px) {
  #sheet-btn {
    font-size: 0.8rem;
    padding: 5px 6px;
  }

}
